<h1><%= @location.name %></h1>

<p>
  <%= link_to 'Edit this Location', edit_location_path %>
</p>

<p>
  <%= link_to 'Delete this Location', location_path(@location), method: :delete, data: {confirm: "Are you sure you want to delete the location '#{@location.name}'? This cannot be undone."} %>
</p>

<%= render 'single_location', location: @location %>
